@import 'variable';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: row;
}

.dashboard{
  h1{
    font-size: $fs-38;
  }
}

.production-tracking{
  h1{
    font-size: $fs-38;
  }

  .header{
    .search-container{
      .input{
        display: flex;
        flex-direction: row;
        width: 30%;
        position: relative;
        margin-bottom: 2%;

        &-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;
            border: 1px solid gray;
            padding: 2% 3%;
            border-radius: 16px;
            
            .search-input {
                display: flex;
                background-color: transparent;
                border: none;
                width: 100%;
                font-size: $fs-14;
                font-weight: $fw-500;
                color: $medium-blue;
    
                &:focus{
                    outline: none;
                }
            }
            
            .search-icon {
                display: flex;
                width: 20px;
                height: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
      }
    }
  }
}

.quality-control{
  h1{
    font-size: $fs-38;
  }

  .header{
    .search-container{
      .input{
        display: flex;
        flex-direction: row;
        width: 30%;
        position: relative;
        margin-bottom: 2%;

        &-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;
            border: 1px solid gray;
            padding: 2% 3%;
            border-radius: 16px;
            
            .search-input {
                display: flex;
                background-color: transparent;
                border: none;
                width: 100%;
                font-size: $fs-14;
                font-weight: $fw-500;
                color: $medium-blue;
    
                &:focus{
                    outline: none;
                }
            }
            
            .search-icon {
                display: flex;
                width: 20px;
                height: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
      }
    }
  }
}
  